.navbar {
    position: sticky;
    height: 46px;
    background-color: #1b1b1b;
  }
  
  .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  .dropdown {
      float: left;
      position: relative;
  }
  
  .dropdown .dropbtn {
      font-size: 16px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: red;
  }
  
  .dropdown-one {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-two {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 160px;
    top: 0px;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown:hover .dropdown-one, #link1:hover > .dropdown-two {
    display: block;
  }
  
  .dropdown-one .dItem {
      color: black;
      padding: 12px 16px;
      display: block;
      text-align: left;
  }
  
  .dropdown-one .dItem:hover, .dropdown-two a:hover {
      background-color: #ddd;
  }